* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px; }

nav {
  background-color: #eeeeee;
  border-top: 2px solid darkgray;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 0;
  display: flex;
  flex-direction: column; }
  nav div .list_nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column; }
    nav div .list_nav li {
      margin: 2%;
      padding: 0 5px; }
    nav div .list_nav img {
      width: 30px;
      height: 30px;
      border-radius: 100%; }
  nav .left {
    flex: 4; }
    nav .left .list_nav {
      height: 100%;
      align-items: center; }
  nav input {
    font-size: 17px;
    width: 250px;
    height: 30px; }
  nav .right {
    flex: 1; }
    nav .right .list_nav {
      height: 100%;
      align-items: center; }

section {
  display: flex;
  flex-direction: column; }
  section .userSection {
    padding: 4%;
    flex: 1; }
    section .userSection .imageProfile {
      width: 230px;
      height: 230px;
      border-radius: 3px; }
    section .userSection .user {
      display: flex;
      flex-direction: column; }
      section .userSection .user--name {
        font-size: 26px;
        line-height: 35px; }
      section .userSection .user--nickName {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        color: #666; }
      section .userSection .user--block {
        color: #586069;
        font-size: 12px;
        padding: 13px 0;
        text-decoration: none; }
      section .userSection .user--follow {
        width: 230px;
        color: #24292e;
        margin: 10px 0;
        background-color: #eff3f6;
        padding: 6px 12px;
        border: 1px solid rgba(27, 31, 35, 0.2);
        font-weight: 600;
        border-radius: 0.25em;
        background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%); }
    section .userSection .details--hr {
      border: 0;
      height: 0;
      margin: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    section .userSection .details--list {
      padding: 0;
      list-style: none; }
      section .userSection .details--list li {
        margin-top: 3px;
        width: 100%; }
        section .userSection .details--list li i {
          font-size: 12px;
          color: #6a737d; }
        section .userSection .details--list li span {
          font-size: 12px; }
  section .optionSection {
    padding: 0 1%;
    flex: 3; }
    section .optionSection hr {
      border: 0;
      height: 0;
      margin: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    section .optionSection .ui-tabs__tabslist {
      margin: 0;
      flex-direction: column;
      margin-top: 5%;
      display: flex;
      align-items: center;
      padding: 0;
      list-style: none;
      justify-content: space-between;
      color: #979797; }
    section .optionSection .ui-tabs__tab--selected {
      font-weight: 600;
      color: #24292e;
      border-bottom: 2px solid #e36209;
      padding: 16px 8px;
      line-height: 1.5;
      color: #586069;
      text-align: center; }
    section .optionSection .ui-tabs__filter {
      display: flex;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 16px; }
      section .optionSection .ui-tabs__filter .textbox {
        flex: 4;
        min-height: 34px;
        padding: 3px 8px;
        margin: 0 10px;
        font-size: 16px;
        line-height: 20px;
        color: #24292e;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        outline: none;
        box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075); }
      section .optionSection .ui-tabs__filter button {
        flex: 1;
        width: 20%;
        color: #24292e;
        margin: 10px 0;
        background-color: #eff3f6;
        padding: 6px 12px;
        border: 1px solid rgba(27, 31, 35, 0.2);
        font-weight: 600;
        border-radius: 0.25em;
        background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
        margin: 0 2px; }
        section .optionSection .ui-tabs__filter button i {
          font-style: normal;
          font-weight: 500;
          opacity: 0.75; }
    section .optionSection .ui-tabs__content {
      padding: 0; }
      section .optionSection .ui-tabs__content li {
        list-style: none; }
        section .optionSection .ui-tabs__content li .repositoryName a {
          color: #0366d6;
          text-decoration: none; }
        section .optionSection .ui-tabs__content li .repositoryName h3 {
          margin-bottom: 5px; }
        section .optionSection .ui-tabs__content li .repositorySummary {
          display: flex; }
          section .optionSection .ui-tabs__content li .repositorySummary p {
            flex: 2;
            margin-top: 0;
            color: #586069; }
          section .optionSection .ui-tabs__content li .repositorySummary span {
            flex: 1; }
        section .optionSection .ui-tabs__content li .repositoryTags a {
          color: #0366d6;
          text-decoration: none;
          background-color: #def;
          display: inline-block;
          padding: 0.3em 0.9em;
          margin: 0 0.5em 0.5em 0;
          white-space: nowrap;
          background-color: #f1f8ff;
          border-radius: 3px; }
        section .optionSection .ui-tabs__content li .repositoryDetails {
          font-size: 12px;
          margin-right: 16px;
          color: #586069; }
          section .optionSection .ui-tabs__content li .repositoryDetails .space {
            margin-right: 16px; }
            section .optionSection .ui-tabs__content li .repositoryDetails .space a {
              text-decoration: none; }
          section .optionSection .ui-tabs__content li .repositoryDetails .repoLanguage {
            background-color: #4F5D95;
            top: 1px;
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%; }

@media screen and (min-width: 300px) {
  nav {
    padding: 2px 0;
    flex-direction: row; }
    nav div .list_nav {
      flex-direction: row; }
  section {
    flex-direction: row; }
    section .optionSection .ui-tabs__tabslist {
      flex-direction: row; } }
